<%= form_for @product do |f| %>
  <div>
    <%= f.label :name, t('labels.product.name') %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :price, t('labels.product.price') %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :provider %>
    <%= f.collection_select(:provider_id,
      select_provider, :id, :name, prompt: true) %>
  </div>
  <div>
    <%= f.label :info, t('labels.product.info') %>
    <%= f.text_field :info, class: 'form-control'  %>
  </div>
  <div>
    <%= f.submit t('helpers.submit.product.create'), class: 'btn btn-primary' %>
    <%= link_to t('actions.cancel'), products_path, class: 'btn btn-danger' %>
  </div>
<% end %>


