<div>
  Nome:
  <%= @product.name %>
</div>

<div>
  Valor:
  <%= @product.price %>
</div>

<div>
  Fornecedor:
  <%= @product.provider.name %>
</div>

<p>
  Informações Gerais:
  <%= @product.info %>
</p>

<%= link_to 'Voltar', products_path %>
<%= link_to 'Editar', edit_product_path(@product) %>
<%= link_to 'Deletar', product_path, method: :delete, data: {confirm: 'Excluir registro?'}  %>
