<%= render 'error_messages', record: @sale %>

<%= form_for @sale do |f| %>
  <div>
    <%= f.label :product, t('labels.sale.product')%>
    <%= f.collection_select(:product_id,
      select_product, :id, :name, prompt: true) %>
  </div>
  <div>
    <%= f.label :quantity, t('labels.sale.quantity')%>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit t('helpers.submit.sale.create'), class: 'btn btn-primary' %>
  </div>
<% end %>
