<p>
<strong><%= t('labels.sale.show.product') %></strong>
  <%= @sale.product.name %>
</p>

<p>
  <strong><%= t('labels.sale.show.quantity') %></strong>
  <%= @sale.quantity %>
</p>
<p>
  <strong><%= t('labels.sale.show.date') %></strong>
  <%= @sale.created_at.strftime("%d %b. %Y") %>
</p>

<%= link_to 'Voltar', reports_index_path, class: 'btn btn-primary' %>
